<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865540326083-9k73fo5e81jcs3k2b8o7qfnpstmr51gp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865540326083-9k73fo5e81jcs3k2b8o7qfnpstmr51gp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>865540326083-sq81j50h666babchaf63gmd3kj4e7fov.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_M47kjqlsDZZI8Dkmj-2MqEcZfAqjmCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>865540326083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rubin.providerWorkflow</string>
	<key>PROJECT_ID</key>
	<string>uber-e3901</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-e3901.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865540326083:ios:b95e15564d76efa74e9876</string>
	<key>DATABASE_URL</key>
	<string>https://uber-e3901.firebaseio.com</string>
</dict>
</plist>